<div>
  <h2 class="text-xl">Cambiar Contraseña</h2>
  <p class="mb-5 mt-1 text-gray-500">Su nueva contraseña debera contener entre (8-25) digitos.</p>
</div>
<div>
  <form class="max-w-full" [formGroup]="resetPasswordForm" (submit)="handleSubmit()">
    <div class="grid grid-cols-3 gap-5">
      <div class="relative w-full mb-5 group">
        <label for="actualpass" class="block text-gray-900"
          >Contraseña Actual <span class="text-red-600">*</span></label
        >
        <input
          #actualpass
          type="password"
          id="actualpass"
          formControlName="actualPassword"
          class="block py-2.5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0"
          maxlength="32"
          required
        />
        @if (resetPasswordForm.get('actualPassword')?.touched &&
        resetPasswordForm.get('actualPassword')?.errors) {
        <div
          class="flex items-center my-2 text-xs text-red-800 rounded-lg select-none"
          role="alert"
        >
          <svg
            class="shrink-0 inline size-3 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          @if (resetPasswordForm.get('actualPassword')?.hasError('required')) {
          <div class="font-medium">Ingrese su contraseña actual</div>
          } @if (resetPasswordForm.get('actualPassword')?.hasError('minlength')) {
          <div class="font-medium">Debe tener un mínimo de 8 carácteres</div>
          }
        </div>
        }
        <img
          #actview
          (click)="changeTypeInput('actualpass')"
          src="/view-icon.png"
          width="28"
          class="cursor-pointer absolute right-0 top-8"
        />
      </div>
      <div class="relative w-full mb-5 group">
        <label for="newpass" class="block text-gray-900"
          >Nueva Contraseña <span class="text-red-600">*</span></label
        >
        <input
          #newpass
          type="password"
          id="newpass"
          formControlName="newPassword"
          class="block py-2.5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0"
          maxlength="32"
          required
        />
        @if (resetPasswordForm.get('newPassword')?.touched &&
        resetPasswordForm.get('newPassword')?.errors) {
        <div
          class="flex items-center my-2 text-xs text-red-800 rounded-lg select-none"
          role="alert"
        >
          <svg
            class="shrink-0 inline size-3 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
          <div class="font-medium">Ingrese su nueva contraseña</div>
          } @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
          <div class="font-medium">Debe tener un mínimo de 8 carácteres</div>
          }
        </div>
        }
        <img
          #newview
          (click)="changeTypeInput('newpass')"
          src="/view-icon.png"
          width="28"
          class="cursor-pointer absolute right-0 top-8"
          alt="View Icon"
        />
      </div>
      <div class="relative w-full mb-5 group">
        <label for="newpassagain" class="block text-gray-900"
          >Repetir Nueva Contraseña <span class="text-red-600">*</span></label
        >
        <input
          #newpassagain
          type="password"
          id="newpassagain"
          formControlName="againNewPassword"
          class="block py-2.5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0"
          maxlength="32"
          required
        />
        @if (resetPasswordForm.get('againNewPassword')?.touched &&
        resetPasswordForm.get('againNewPassword')?.errors) {
          @if (resetPasswordForm.get('againNewPassword')?.hasError('required')) {
            <div
              class="flex items-center my-2 text-xs text-red-800 rounded-lg select-none"
              role="alert"
            >
              <svg
                class="shrink-0 inline size-3 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="font-medium">Ingrese de nuevo su nueva contraseña</div>
            </div>
          }
        } @if (resetPasswordForm.get('againNewPassword')?.touched && resetPasswordForm.errors?.['mismatch']) {
          <div
            class="flex items-center my-2 text-xs text-red-800 rounded-lg select-none"
            role="alert"
          >
            <svg
              class="shrink-0 inline size-3 me-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <div class="font-medium">Las contraseñas no coinciden</div>
          </div>
        }
        <img
          #againview
          (click)="changeTypeInput('newpassagain')"
          src="/view-icon.png"
          width="28"
          class="cursor-pointer absolute right-0 top-8"
          alt="View Icon"
        />
      </div>
    </div>
    <div class="text-end">
      <button
        type="submit"
        [disabled]="!this.resetPasswordForm.valid"
        class="text-white cursor-pointer bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 disabled:opacity-70"
      >
        Actualizar contraseña
      </button>
    </div>
  </form>
</div>
