<div class="relative">
  <swiper-container #swiperContainer class="cursor-grab" init="false">
    <swiper-slide>
      <div id="banner1" class="h-[55em]"></div>
    </swiper-slide>
    <swiper-slide>
      <div id="banner2" class="h-[55em]"></div>
    </swiper-slide>
    <swiper-slide>
      <div id="banner3" class="h-[55em]"></div>
    </swiper-slide>
  </swiper-container>
  <button
    class="arrow-button-prev cursor-pointer size-10 absolute top-1/2 left-4 translate-y-[-50%] z-10 opacity-50 hover:opacity-70 transition-opacity"
  >
    <img src="/arrow-sm-left.png" />
  </button>
  <button
    class="arrow-button-next cursor-pointer size-10 absolute top-1/2 translate-y-[-50%] right-4 z-10 opacity-50 hover:opacity-70 transition-opacity"
  >
    <img src="/arrow-sm-right.png" />
  </button>
</div>
